<header>
    <div class=" grid-cols-6 m-8 flex justify-center items-center ">
        <div class="col-span-1">
            <ul class="grid row-span-3 p-5 ">
                <button class="row-span-1 py-12 border shadow-sm  focus:outline-none p-4" [routerLink]="['/comprobantes']">Ver mis comprobantes</button>
                <button class="row-span-1 py-12 border shadow-sm  focus:outline-none p-4" [routerLink]="['/validaciones']">Validad cualquier comprobante</button>
                <button class="row-span-1 py-12 border shadow-sm  focus:outline-none p-4" [routerLink]="['/control']">Control de usuarios</button>
            </ul>
        </div>
        <div class="col-span-1"><img src="assets/img/flechaizquierda.png" alt=""></div>
        <div class="col-span-3"><img src="assets/img/comp.png" alt=""></div>
        <div class="col-span-1"><img src="assets/img/flechaderecha.png" alt=""></div>
    </div>
</header>