<header class="flex justify-center">

    <div class="flex justify-center grid-cols-2 gap-3">
        <img class="col-span-1 object-scale-down justify-center " src="assets/img/trujillo.png" alt="">
        <div class="col-span-1 ">La ciudad de Trujillo, que es conocida como la “Ciudad de la Eterna Primavera”, se encuentra localizada, en la provincia del mismo nombre, en la región de La Libertad. Trujillo es una ciudad import...</div>
    </div>


</header>