<div class="grid grid-rows-3 grid-cols-5 grid-flow-col gap-4">
    <div class="row-span-3 col-span-1 py-20  ">
        <ul class="bg-gray-900 text-black text-2xl max-h-full p-7 items-center w-full ">
            <button routerLink="trujillo" class="w-full p-4 my-2 focus:outline-none  rounded-md bg-white flex justify-center items-center font-semibold">Trujillo</button>
            <button routerLink="arequipa" class="w-full p-4  my-2 focus:outline-none  rounded-md bg-white flex justify-center items-center  font-semibold">Arequipa</button>
            <button routerLink="cusco" class="w-full p-4 my-2 focus:outline-none  rounded-md bg-white flex justify-center items-center  font-semibold">Cusco</button>
        </ul>
    </div>
    <div class="col-span-4 text-center p-3 text-2xl text-gray-900 font-medium justify-center flex">CIUDADES</div>
    <div class="row-span-2 col-span-4 ">
        <router-outlet></router-outlet>
    </div>
</div>