<header class="">
    <div class="pt-3 text-2xl flex justify-center font-semibold text-gray-800">
        MIS JUGADORES TOP PARA UNA LIGA PERSONALIZADA
    </div>

    <div class="animated fadeIn fast  grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 grid-rows-6   sm:m-2 md:m-5">
        <div class="col-span-1 border row-span-6  shadow-lg border-gray-400  p-4 rounded-lg m-3 gap-4" *ngFor="let jugadores of jugador">
            <div class=" col-span-1 grid-rows-1">{{jugadores.posicion}}</div>
            <div class=" col-span-1 grid-rows-1">{{jugadores.Nombre}}</div>
            <div class=" col-span-1 grid-rows-1">{{jugadores.Talla}}</div>
            <div class=" col-span-1 grid-rows-1">{{jugadores.Origen}}</div>
            <div class=" col-span-1 grid-rows-1">{{jugadores.Club}}</div>
            <div class=" col-span-1 grid-rows-1">{{jugadores.Edad}}</div>
        </div>
    </div>
</header>