<header class=" flex  justify-center items-center p-3 ">
    <p class="justify-center text-center  font-bold text-5xl pb-8  focus:outline-none  p-5 bg-gray-900 text-yellow-400 rounded-full  hover:bg-blue-900 hover:text-white "> RUTAS </p>
</header>

<body class=" m-5 ">
    <nav class="flex justify-center gap-5 pt-3">
        <div routerLinkActive="active" [routerLink]="['ruta1']" class="p-3 cursor-pointer focus:outline-none rounded-r bg-gray-900 text-gray-300 hover:bg-red-500 hover:text-white">Ruta1</div>
        <div routerLinkActive="active" [routerLink]="['ruta2']" class="p-3 cursor-pointer focus:outline-none rounded-r bg-gray-900 text-gray-300 hover:bg-red-500 hover:text-white">Ruta2</div>
        <div routerLinkActive="active" [routerLink]="['ruta3']" class="p-3 cursor-pointer focus:outline-none rounded-r bg-gray-900 text-gray-300 hover:bg-red-500 hover:text-white">Ruta3</div>
    </nav>


    <div class="flex justify-center gap-5 pt-3">
        <router-outlet></router-outlet>
    </div>

</body>