<header class="flex justify-center">

    <div class="flex justify-center grid-cols-2 gap-3">
        <img class="col-span-1 object-scale-down justify-center " src="assets/img/cusco.png" alt="">
        <div class="col-span-1 ">El Cusco, es una ciudad que se halla localizada en la provincia y región del mismo nombre. Dicha ciudad es capital del departamento en el que se sitúa y es considerada además Capital Histórica del</div>
    </div>


</header>