<header class=" flex  justify-center items-center p-3  ">
    <p class="justify-center text-center  font-bold text-5xl pb-8  focus:outline-none  p-5 bg-gray-900 text-yellow-400 rounded-full  hover:bg-blue-900 hover:text-white "> FOTOS </p>
</header>
<div class="justify-center text-center items-center m-2 ">

    <div class="grid grid-cols-3 w-full gap-5 items-center ">
        <img class="col-span-1 border border-gray-500 w-full object-cover rounded-xl p-2" src="assets/img/ruta1.png" alt="">
        <img class="col-span-1 border border-gray-500 w-full object-cover rounded-xl p-2" src="assets/img/ruta2.png" alt="">
        <img class="col-span-1 border border-gray-500 w-full object-cover rounded-xl p-2" src="assets/img/ruta3.png" alt="">
    </div>

</div>