<header class="flex justify-center">

    <div class="flex justify-center grid-cols-2 gap-3">
        <img class="col-span-1 object-scale-down justify-center " src="assets/img/arequipa.png" alt="">
        <div class="col-span-1 ">La ciudad de Arequipa, que se sitúa en la provincia y departamento del mismo nombre, es conocida mundialmente como la “Ciudad Blanca”, a causa del material volcánico, de color blanco, del que se en.</div>
    </div>


</header>